.aboutme{
    background-color: rgb(15, 15, 15);
    display: flex;
    padding: 100px 100px;
}
.miphoto{
    width: 20%;
    filter: drop-shadow(5px 5px 5px #888888);
    border-radius: 5%;
}
.text{
    padding: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}