.alert {
    top: 50px;
    right: 10px;
    padding: 5px 15px;
    height: auto;
    width: auto;
    border: 1px solid transparent;
    border-radius: 15px;
    position: fixed;
    transition: opacity 0.5s ease-out;
    text-align: center;

}

.alert-success {
    opacity: .8;
    color: #000000;
    background-color: rgb(21, 255, 0);
    border-color: #d6e9c6;
}

.alert-error {
    opacity: .8;
    color: #000000;
    background-color: #fc6663;
    border-color: #ebccd1;
}

.alert-hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}