body{
    margin: 0;
    padding: 0;
    background: #000000;
    color: white;
}
.Skills{
    padding-top: 100px;
 height: 500PX;
}
.mywork{
    height: 500PX;
}
.content contact{
    height: 500PX;
}