.home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: 100vh;
}

.card_presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    background-color: #4B5358;
    padding: 20px;
    border: 1px solid rgb(21, 255, 0);
    text-align: center;
}

.imagen {
    transform: translateY(-80px);
    background-image: url('../images/MiPhoto.png');
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: -100px;
    z-index: 0;
    border: solid 2px rgb(21, 255, 0);
}
.description h1{
    color: rgb(21, 255, 0);
    font-family: 'Courier New', monospace;
    font-style: oblique;
    margin-top: 20px;
    line-height: 1.5;
    font-weight: 900;

}
.description h3 {
    color: white;
    font-family: 'Courier New', monospace;
    font-style: oblique;
    margin-top: 20px;
    line-height: 1.5;
    font-weight: 100;
}

.contact {
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: transparent;
}

.contact a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(253, 253, 253, 0.8);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 15px;
    border: 2px solid #011627;
    margin: 10px;
}

.contact a:hover,
.contact a:active {
    transform: scale(1.2);
    border: 2px solid rgb(21, 255, 0);
}

.sendMail {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 200px;
    right: 50px;
    transition: 2s;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgba(253, 253, 253);
    box-shadow: 0 16px 26px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 10px;
}

.sendMail form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sendMail input,
.sendMail textarea {
    border-radius: 10px;
    padding: 5px 8px;
    margin-bottom: 10px;
    background: rgb(204, 204, 204);
    width: calc(100% - 16px);
}

.sendMail label {
    padding-left: 8px;
    align-self: flex-start;
}

.sendMail button {
    all: unset;
    background: rgb(15, 120, 218);
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    width: 100px;
    margin: 10px auto 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
        padding-top: 10px;
    }
    .card_presentation {
        width: 100%;
        height: 260px;
    }
    .imagen {
        height: 100px;
        width: 100px;
    }
    .description h1{
        font-size: 25px;

    }
    .description h3 {
        font-size: 15px;
    }
    .contact {
        flex-direction: row;
    }
    .contact a {
        height: 40px;
        width: 40px;
    }
    .sendMail {
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        justify-content: center;
        align-items: center;
        background-color: rgba(253, 253, 253);
        color: black;
        margin: 0;
        height: 40%;
        width: 60%;
    }

    .sendMail form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .sendMail input,
    .sendMail textarea {
        border-radius: 10px;
        padding: 5px 8px;
        margin-bottom: 10px;
        background: rgb(204, 204, 204);
        width: calc(100% - 16px);
    }

    .sendMail label {
        padding-left: 8px;
        align-self: flex-start;
    }

    .sendMail button {
        all: unset;
        background: rgb(15, 120, 218);
        border-radius: 5px;
        padding: 8px 12px;
        cursor: pointer;
        width: 100px;
        margin: 10px auto 0;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        color: white;
        text-align: center;
    }
}