.navbar {
    width: 100%;
    background-color: #4B5358;
    padding: 8px;
    position: fixed;
    z-index: 2;
}

.nav-links {

    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-left: 20px;
}

.navbar button {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    height: 20px;
    width: 100px;
    background: transparent;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    padding: 2px;
}

.navbar button:hover {
    transform: scale(1.2);
    color: rgb(21, 255, 0);

}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(21, 255, 0);
    margin: 5px;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        left: 0;
        height: 100vh;
        top: 0;
        background-color: #585858;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 35%;
        transform: translateX(-150%);
        transition: transform 0.5s ease-in;
        padding-top: 30px;

    }

    .nav-links li {
        padding-left: 5px;
        margin: 20px 0;
        text-align: start;
    }

    .burger {
        display: block;
    }
    
    .nav-links button {
        font-size: large;
        width: 100%;
        padding-left: 15px;

    }

    .nav-active {
        transform: translateX(0);
    }
}



.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}